/* About Section Styles */

.responsive .frame-4 {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 1024px;
}

.responsive .rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.responsive .who-we-are {
  display: flex;
  flex-direction: column;
  width: 1240px;
  align-items: center;
  gap: 60px;
  position: relative;
  margin: 0 auto;
  padding: 80px 0;
}

.responsive .frame-5,
.responsive .frame-6 {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 60px;
  position: relative;
}

.responsive .frame-6 {
  flex-direction: row-reverse;
}

.responsive .text-content-box {
  display: flex;
  flex-direction: column;
  width: 590px;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}

.responsive .sub-head {
  align-self: stretch;
  position: relative;
}

.responsive .WAIC-is-transforming {
  position: relative;
  margin-top: -1.00px;
  font-family: var(--typography-heading-h2-font-family);
  font-weight: var(--typography-heading-h2-font-weight);
  color: var(--colourneutrallight);
  font-size: var(--typography-heading-h2-font-size);
  letter-spacing: var(--typography-heading-h2-letter-spacing);
  line-height: var(--typography-heading-h2-line-height);
  font-style: var(--typography-heading-h2-font-style);
}

.responsive .designed {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--typography-body-paragraph-font-family);
  font-weight: var(--typography-body-paragraph-font-weight);
  color: var(--colourneutrallight);
  font-size: var(--typography-body-paragraph-font-size);
  letter-spacing: var(--typography-body-paragraph-letter-spacing);
  line-height: var(--typography-body-paragraph-line-height);
  font-style: var(--typography-body-paragraph-font-style);
}

.responsive .icon-graphic {
  position: relative;
  width: 590px;
  height: 400px;
  object-fit: cover;
}
