/* Impact Section Styles */

.responsive .rectangle-2 {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: var(--colourneutralblueblack);
}

.responsive .impact {
  display: flex;
  width: 1240px;
  align-items: center;
  gap: 60px;
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
}

.responsive .frame-7 {
  display: flex;
  flex-direction: column;
  width: 590px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}

.responsive .transparent-card,
.responsive .frame-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  position: relative;
}

.responsive .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 1;
}

.responsive .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--typography-heading-h1-font-family);
  font-weight: var(--typography-heading-h1-font-weight);
  color: var(--colourneutrallight);
  font-size: 48px;
  letter-spacing: var(--typography-heading-h1-letter-spacing);
  line-height: var(--typography-heading-h1-line-height);
  font-style: var(--typography-heading-h1-font-style);
}

.responsive .girls-reached,
.responsive .girls-reached-2 {
  position: relative;
  width: fit-content;
  font-family: var(--typography-button-nav-link-font-family);
  font-weight: var(--typography-button-nav-link-font-weight);
  color: var(--colourneutrallight);
  font-size: var(--typography-button-nav-link-font-size);
  letter-spacing: var(--typography-button-nav-link-letter-spacing);
  line-height: var(--typography-button-nav-link-line-height);
  font-style: var(--typography-button-nav-link-font-style);
}

.responsive .img-2 {
  position: relative;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
