/* Main CSS File - Imports all section styles */

/* Import section-specific CSS files */
@import url('./navbar.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./impact.css');
@import url('./solutions.css');
@import url('./programs.css');
@import url('./testimonials.css');
@import url('./footer.css');
@import url('./cta.css');

/* Global styles that apply to all sections */
.responsive {
  position: relative;
  width: 1440px;
  height: 8791px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* Hide right-side scrollbars while keeping scrolling enabled */
html {
  scrollbar-width: none; /* Firefox */
}
html, body {
  -ms-overflow-style: none; /* IE/Edge */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px; /* Chrome/Safari */
  height: 0px;
}

.responsive .frame {
  display: none;
}

.responsive .element {
  display: none;
}

.responsive .element-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: #ffffff;
}

.responsive .div {
  flex: 1;
  width: 100%;
  position: relative;
  background-color: var(--colourneutralblueblack);
  overflow-x: hidden;
}
